:root {
	--default-text: 30px;
	--large-text: 38px;
	--medium-text: 32px;
	--small-text: 20px;
}

html {
	/* LIGHT MODE */
	--bg-color: #BBD2C5;
	--text-color: #292E49;
	--second-text: #536976;
}

html[dark] {
	/* DARK MODE */
	--bg-color: #18191A;
	--text-color: #E4E6EB;
	--second-text: #B0B3B8;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: var(--bg-color);	
	color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--bg-color);
		color: var(--text-color);
	}
}

/* MAIN */
.main-div {
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 4%;
}

.inline-text {
	font-size: var(--default-text);
	/*font-family: 'Source Sans Pro', sans-serif;*/
	/*font-family: 'Raleway', sans-serif;*/
	/*font-family: 'Source Code Pro', monospace;*/
}

.spacer {
	padding-bottom: 3%;
}

.hor-spacer {
	padding-left: 2%;
}

.large {
	font-size: var(--large-text);
}

.medium {
	font-size: var(--medium-text);
}

.small {
	font-size: var(--small-text);
}

.external-icon {
	cursor: pointer;
}

.external-icon:hover {
	font-size: 3.2em;
}

.status-button {
	cursor: pointer;
	color: var(--second-text);
}

.linkedin:hover .icon-label {
	display: inline;
}

.icon-label {
	position: absolute;
	left: 0;
	bottom: -27px;
	font-size: 17px;
	padding: 3px;
	background-color: var(--second-text);
	color: var(--bg-color);
	font-weight: 500;
	border-radius: 5px;
	display: none;
}

.icon-label:after,
.icon-label:before {
	left: 100%;
	top: 17%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.icon-label:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: var(--second-text);
	border-width: 8px;
	margin-top: -18px;
	margin-left: -40px;
}

.github:hover .icon-label {
	display: inline;
}

.github .icon-label {
	left: 80px;
}

.status-button:hover .toggle-label {
	display: inline;
}

.toggle-label {
	position: absolute;
	right: -38px;
	top: 43px;
	font-size: 17px;
	padding: 3px;
	background-color: var(--second-text);
	color: var(--bg-color);
	font-weight: 500;
	border-radius: 5px;
	display: none;
}

.toggle-label:after,
.toggle-label:before {
	left: 71%;
	top: 17%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.toggle-label:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: var(--second-text);
	border-width: 8px;
	margin-top: -18px;
	margin-left: -39px;
}

/* FOOTER */
.footer {
	position: fixed;
	width: 100%;
	height: 25px;
	text-align: center;
	bottom: 0;
	z-index: 100;
	color: var(--second-text);
	background: inherit;
}
