@import 'tailwindcss';
@plugin 'daisyui' {
  themes: dim --default
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-sans);
}

body p {
  font-size: 26px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 100px;
}

.page-footer {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 5px;
  margin-top: auto;
}
.page-footer div {
  justify-content: center;
  gap: 1em;
}

.intro {
  font-weight: 600;
  letter-spacing: 0.075em;
}

@media (max-width: 600px) {
  main {
    padding: 40px;
  }

  body p {
    font-size: 20px;
  }
}

img {
  filter: invert();
}
