@use "@picocss/pico/scss/pico";

html,
body {
    padding: 1em;
    margin: 1em;
}

.page-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.page-footer div {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.bold {
    font-weight: 600;
    letter-spacing: 0.075em;
    font-size: 26px;
}
