.page {
  display: grid;
  justify-items: center;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px 180px 0px 180px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: auto;
}

.text {
  font-size: 30px;
}

.heavy {
  font-weight: 600;
}

.footer div {
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .main {
    padding: 25px;
  }
}

@media (prefers-color-scheme: dark) {
  .footer img {
    filter: invert(100%);
    --webkit-filter: invert(100%);
  }
}
