.page {
  display: grid;
  justify-items: center;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

.header img {
  position: absolute;
  left: initial;
  right: 180px;
  top: 25px;
}

.header img:hover {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px 180px 0px 180px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: auto;
}

.footer div {
  justify-content: space-evenly;
}

.text {
  font-size: 30px;
}

.heavy {
  font-weight: 600;
}

.logo-dark {
  filter: invert(100%);
  --webkit-filter: invert(100%);
}

@media (max-width: 600px) {
  .main {
    padding: 25px;
  }

  .header img {
    right: 25px;
  }
}
